= simple_form_for(:address, url: address_path, method: :patch) do |f|
  = f.hidden_field :type, value: type
  .form-group
    = f.label :first_name, class: 'control-label input-label'
    = f.text_field :first_name, value: presenter.address.first_name, class: 'form-control', id: 'firstName', placeholder: 'First Name', required: true
  .form-group
    = f.label :last_name, class: 'control-label input-label'
    = f.text_field :last_name, value: presenter.address.last_name, class: 'form-control', id: 'lastName', placeholder: 'Last Name', required: true
  .form-group
    = f.label :address, class: 'control-label input-label'
    = f.text_field :address, value: presenter.address.address, class: 'form-control', id: 'address', placeholder: 'Address', required: true
  .form-group
    = f.label :city, class: 'control-label input-label'
    = f.text_field :city, value: presenter.address.city, class: 'form-control', id: 'city', placeholder: 'City', required: true
  .form-group
    = f.label :zip, class: 'control-label input-label'
    = f.text_field :zip, value: presenter.address.zip, class: 'form-control', id: 'zip', placeholder: 'Zip', required: true
  .form-group
    = f.label :country, class: 'control-label input-label'
    = f.country_select :country, {include_blank: 'Select a Country', selected: presenter.address.country}, class: 'form-control', id: 'country', placeholder: 'Country', required: true
  .form-group.mb-60
    = f.label :phone, class: 'control-label input-label'
    = f.text_field :phone, value: presenter.address.phone, class: 'form-control', id: 'phone', placeholder: 'Example +380994448811', required: true
  .text-center.general-text-align
    = f.submit 'Save', class: 'btn btn-default'
