%main.container
  = render partial: 'users/settings/tab'
  .tab-content
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle.mt-0= t('settings.billing')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle.mt-0= t('settings.shipping')
      .row
        .col-md-5.mb-40
          .visible-xs.visible-sm
            %h3.general-subtitle.mt-0= t('settings.billing')
          = render partial: 'form', locals: {type: :billing}
        .col-md-5.col-md-offset-1.mb-25
          .visible-xs.visible-sm
            %h3.general-subtitle.mt-0= t('settings.shipping')
          = render partial: 'form', locals: {type: :shipping}
