%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('button.sign_up')
    = link_to user_facebook_omniauth_authorize_path, method: :post, class: 'general-logic-icon' do |f|
      %i.fa.fa-facebook-official
    %p.general-login-text= t('button.or')
  = simple_form_for(:user, url: user_registration_path,  html: { class: 'general-form'}) do |f|
    .form-group.mb-30
      = f.label :email, class: 'control-label input-label', require: 'true'
      = f.email_field :email, placeholder: t('settings.enter_e_mail'), class: 'form-control', id:'email'
    .form-group.mb-30
      = f.label :password, class: 'control-label input-label'
      = f.password_field :password, class: 'form-control', id: 'password', placeholder: t('settings.enter_passwd')
    .form-group.mb-30
      = f.label :password_confirmation, class: 'control-label input-label'
      = f.password_field :password_confirmation, class: 'form-control', id: 'confirm', placeholder: t('settings.confirm_password')
    .text-center
      = f.submit t('button.back_to_store'), class: 'btn btn-default mb-20'
  %p.general-sign-text.text-center
    = t('button.already_have_account')
    = link_to t('button.log_in'), new_user_session_path, class: 'in-gold-500'
  %script{src: "https://use.fontawesome.com/67602d7308.js"}
