%main.container
  #carouselExampleControls.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators
      - @latest_books.each.with_index(0) do |book_presenter, index|
        %li.active{'data-target': "#carouselExampleControls", 'data-slide-to': index}
    .carousel-inner{role: "listbox"}
      - @latest_books.each.with_index(0) do |book_presenter, index|
        .item{class: index.zero? ? 'active' : ''}
          .row
            .col-sm-5
              .general-img-wrap
                = image_tag(book_presenter.book.image, class: 'img-shadow general-thumbnail-img', alt: book_presenter.book.name)
            .col-sm-7
              .mb-60
                %h1= book_presenter.book.name 
                %p.lead= book_presenter.truncate_description 
                %p.lead.small= book_presenter.authors_full_names
                .general-align
                  %button.disabled.btn= t('button.by_now')
    %a.left.carousel-control{href: "#carouselExampleControls", role: "button", 'data-slide-to': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only= t('page.home.carusel.prev')
    %a.right.carousel-control{href: "#carouselExampleControls", role: "button", 'data-slide-to': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only= t('page.home.carusel.next')
  .container
    .jumbotron.text-center.mb-0
      %h2.h1= t('page.home.greeting')
      .mb-res-50
        %p= t('page.home.text')
      = link_to t('button.get_started'), books_path, type: :button, class: 'btn btn-default'
    .mb-35
      %h3= t('page.home.best_sellers')
      .row
        - @best_sellers.each do |book_presenter|
          .col-sm-6.col-md-3
            .general-thumb-wrap
              .thumbnail.general-thumbnail
                = image_tag(book_presenter.book.image, class: 'img-shadow general-thumbnail-img', alt: book_presenter.book.name)
                .thumb-hover
                  .general-thumb-link-wrap
                    = link_to book_path(id: book_presenter.book.id), class: 'thumb-hover-link' do
                      %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                    = link_to order_items_path(order_item: {book_id: book_presenter.book.id, quantity: 1}), method: :post,  class: 'thumb-hover-link' do
                      %i.fa.fa-shopping-cart.thumb-icon
              .mb-35
                .clearfix
                  %p.pull-right.font-16.in-gold-500= currency_with_price book_presenter.book.price
                  %p.title.mr-55= book_presenter.book.name
                %span.divider-sm
                %p.lead.small= book_presenter.authors_full_names