%h3.in-gold-500.mb-25= t('review.reviews') + " (#{reviews.count})"
- reviews.each do |review|  
  - presenter = ReviewPresenter.new(review)
  .general-message-wrap.divider-lg
    .clearfix
      %div
        .general-message-date.hidden-xs= presenter.created_at_formated
        .max-240
          .general-message-verified= t('review.verified') if presenter.verified?
          .general-message-name= presenter.user_full_name 
      .mb-15
        - review.star.times do
          %i.fa.fa-star.rate-star
        - presenter.number_of_empty_stars.times do 
          %i.fa.fa-star.rate-empty
      %p= review.text 
