%main.container
  %h1.general-title-margin= t('page.book.index.catalog')
  .hidden-xs.clearfix
    = render 'dropdown'
    = render 'categories'
  .mb-120#books-container
    .row
      = render partial: 'books', locals: {books: @books}
    .text-center
      = link_to t('button.view_more'), books_path(page: @pagy.page+1), id: 'load-more-books', class: 'btn btn-primary', remote: true unless @pagy.page == @pagy.last
