%main.container.general-main-wrap
  %h1.general-title-margin= t('cart.cart')
  .visible-xs
    - @order_items.each do |item|
      = render partial: 'order_item_xs', locals: {item: item}
  .hidden-xs
    %table.table.table-hover
      %tr.no-hover
        %th.col-pic.pl-0
          %span.in-grey-600= t('cart.product')
        %th.col-title
        %th.col-price
          %span.in-grey-600= t('cart.price')
        %th.col-quantity
          %span.in-grey-600= t('cart.quantity')
        %th.col-total
          %span.in-grey-600= t('cart.subtotal')
        %th.col-close
      - @order_items.each do |item|
        = render partial: 'order_item', locals: {item: item}
  .general-order-wrap
    .row
      .col-sm-4
        = render partial: 'coupon'
      .col-sm-8
        .res-mr-200.text-center.general-text-right
          = render partial: 'order_summary', locals: {order: @order}
  = link_to t('cart.checkout'), checkout_index_path, class: 'btn btn-default mb-20'
