%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('button.log_in')
    %a.general-login-icon
      = link_to user_facebook_omniauth_authorize_path, method: :post, class: 'general-logic-icon' do |f|
        %i.fa.fa-facebook-official
    %p.general-login-text= t('button.or')
  = simple_form_for(:user, url: user_session_path, html: { class: 'general-form' }) do |f|
    .form-group.mb-30
      = f.label :email, class: 'control-label input-label', required: true, autofocus: true
      = f.email_field :email, placeholder: t('settings.enter_e_mail'), class: 'form-control', id:'email'
    .form-group.mb-30
      = f.label :password, class: 'control-label input-label'
      = f.password_field :password, class: 'form-control', id: 'password', placeholder: t('settings.enter_passwd')
      = link_to t('button.forgot_password'), new_user_password_path, class: 'in-gold-500'
    .form-group.checkbox.text-center.mb-30
      %label.checkbox-label
        = f.check_box :remember_me, class: 'checkbox-input', hidden: 'true'
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text= t('page.settings.remember_me')
    .text-center
      = f.submit t('button.back_to_store'), class: 'btn btn-default mb-20'
  %p.general-sign-text.text-center
    = t('button.dont_have_account')
    = link_to t('button.sign_up'), new_user_registration_path, class: 'in-gold-500'
