%table.general-summary-table
  %tr
    %td
      %p.font-16= t('confirm.item_total')
    %td
      %p.font-16= currency_with_price order.subtotal
  %tr
    %td
      %p.font-16= t('cart.coupon')
    %td
      - if order.coupon.present?
        %p.font-16= currency_with_price order.coupon.value
      - else
        %p.font-16= currency_with_price
  %tr
    %td
      %p.font-16= t('cart.total')
    %td
      %p.font-16= currency_with_price order.total
