%main.container.general-main-wrap
  %h1.mt-0.mb-25= t('order.my_orders')
  %p.lead.small.mb-10.visible-xs= t('page.book.sort_by')
  = render partial: 'dropdown'
  .visible-xs
    - @orders.each do |order|
      - presenter = OrderPresenter.new(order)
      .general-cart-item.divider-lg-bottom.pt-0
        %table.table
          %tr
            %td.col-half
              %span.in-grey-600= t('order.number')
            %td.col-half
              = link_to account_order_path(order.id) do
                %span.general-order-number= presenter.number
          %tr
            %td
              %span.in-grey-600= t('order.complited_at')
            %td
              %span.ingrey-900.font-16.fw-300= presenter.creation_date
          %tr
            %td
              %span.in-grey-600= t('order.statuss')
            %td
              %span.font-16.in-grey-900.fw-300= presenter.status
          %tr
            %td
              %span.in-grey-600= t('order.total')
            %td
              %strong.font-16= currency_with_price order.total
  .hidden-xs.mb-res-50
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600= t('order.number')
          %th
            %span.in-grey-600= t('order.complited_at')
          %th
            %span.in-grey-600= t('order.statuss')
          %th
            %span.in-grey-600= t('order.total')
      %tbody
      - @orders.each do |order|
        - presenter = OrderPresenter.new(order)
        %tr
          %td
            = link_to account_order_path(order.id) do
              %span.general-order-number= presenter.number 
          %td
            %span.in-grey-900.font-16.fw-300= presenter.creation_date
          %td
            %span.font-16.in-grey-900.fw-300= presenter.status
          %td
            %strong.font-16= currency_with_price order.total
